

<html>

    <head>
    <link rel="stylesheet" href="src/style.css">
    </head>
    <body>
    <div id="feed">
    
    </div>
    
        <script src="../src/app.js">
            var d='good'
            document.write(d)
        </script>
    </body>
    </html>